@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  .light {
    --background: 240, 10%, 3.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 160 84% 39%;
    --primary-foreground: 0 0% 98%;

    --secondary: 270 91% 27%;
    --secondary-foreground: 0 0% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 160 84% 39%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 160 84% 39%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 160 84% 39%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240, 10%, 3.9%;
    --foreground: 0 0% 98%;
    --card: 240, 10%, 3.9%;
    --card-foreground: 0 0% 98%;
    --accent: 240 4% 11%;
    --accent-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --primary: 160 84% 39%;
    --primary-primary: 160 100% 15%;
    --primary-secondary: 160 91% 20%;
    --primary-tertiary: 160 84% 25%;
    --primary-quaternary: 160 84% 32%;
    --primary-quinary: 160 84% 39%;
    --primary-senary: 160 84% 46%;
    --primary-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 160 84% 39%;
    --secondary: 270 91% 27%;
    --secondary-foreground: 0 0% 98%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

body {
  font-family: "Inter", sans-serif !important;
}
